.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-face {
display: flex;
justify-content: space-between;
}

/* :nth-of-type(n) 选择器匹配
属于父元素的特定类型的第 N 个子
元素的每个元素. */

.second-face .pip:nth-of-type(2) {
align-self: flex-end;
}

.third-face{
    display: flex;
    justify-content: space-between;
}
.third-face .pip:nth-of-type(2){
    align-self: center;
}
.third-face .pip:nth-of-type(3){
    align-self: flex-end;
}

.fourth-face , .sixth-face{
    display: flex;
    justify-content: space-between;
}

.fourth-face .columns,.sixth-face .column{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face{
    display: flex;
}

.fifth-face .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fifth-face .column:nth-of-type(2){
    /* display: flex; */
    justify-content: center;
}

/* OTHER STYLES */

* {
box-sizing: border-box;
}

html, body {
height: 100%;
}

body {
display: flex;
/* align-items: center; */
justify-content: center;
/* vertical-align: center; */
flex-wrap: wrap;
align-content: center;
font-family: 'Open Sans', sans-serif;
background: #333;
/*  linear-gradient(top, #222, */
}

[class$="face"] {
margin: 16px;
padding: 4px;

background-color: #e7e7e7;
width: 104px;
height: 104px;
object-fit: contain;

box-shadow: 
/* 上 下 左 右 */
inset 0 5px white, 
inset 0 -5px #bbb,
inset 5px 0 #d7d7d7, 
inset -5px 0 #d7d7d7;
/* inset 0 5px red, 
inset 0 -5px green,
inset 20px 0 yellow, 
inset -10px 0 blue; */

border-radius: 10%;
}

.pip {
display: block;
width: 24px;
height: 24px;
border-radius: 50%;
margin: 4px;

background-color: #333;
box-shadow: inset 0 3px #111, inset 0 -3px #555;
}